S3method("IDs<-",SpatialPolygonsDataFrame)
S3method(IDs,SpatialPolygonsDataFrame)
S3method(IDs,default)
S3method(geocode,data.frame)
S3method(geocode,default)
S3method(georoute,default)
S3method(rbind,SpatialPolygonsDataFrame)
export(IDs)
export(SLDFtoLine)
export(SPDFareas)
export(SPDFtoPointsDF)
export(as.SpatialPolygons.bbox)
export(cleanLatLon)
export(clipToExtent)
export(closestPoint)
export(countPointsInPolys)
export(cumDist)
export(gGeoCode)
export(geocode)
export(georoute)
export(interpolateAndApplyWithinSpatial)
export(interpolatePathpoints)
export(interpolatePolyPoint)
export(interpolateWithinSingleSpatial)
export(lineDist)
export(overlayPolyPoly)
export(pointDistPairwise)
export(pointgrid2SpatialPolygons)
export(rbind.SpatialPolygonsDataFrame)
export(reshapeSLDF)
export(simpledist)
export(smoothLines)
export(subset.SpatialPointsDataFrame)
export(subset.SpatialPolygonsDataFrame)
export(subsetSPDF)
exportMethods(merge)
import(RJSONIO)
import(methods)
import(rgdal)
import(rgeos)
import(sp)
