S3method("IDs<-",SpatialPolygonsDataFrame)
S3method(IDs,SpatialPolygonsDataFrame)
S3method(IDs,default)
S3method(geocode,data.frame)
S3method(geocode,default)
S3method(georoute,default)
export(SLDFtoLine)
export(SPDFareas)
export(SPDFtoPointsDF)
export(cleanLatLon)
export(closestPoint)
export(countPointsInPolys)
export(cumDist)
export(gGeoCode)
export(geocode)
export(georoute)
export(interpolatePathpoints)
export(lineDist)
export(pointDistPairwise)
export(pointgrid2SpatialPolygons)
export(rbind.SpatialPolygonsDataFrame)
export(reshapeSLDF)
export(simpledist)
export(smoothLines)
export(subset.SpatialPolygonsDataFrame)
export(subsetSPDF)
